@import "../../styles/colors";

.button {
  font-size: 21px;
  background-color: $yellow;
  color: $light-gray-bg1;
  padding: 9px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: $yellow-dark;
  color: $default-text-color;
}

.button:visited,
.button:link,
.button:hover,
.button:active {
  text-decoration: none;
}
.link {
  color: $light-gray-bg1;
  transition: all 0.3s ease 0s;
}
