// text colors:

$default-text-color: #333333;
$light-text-color: #757575;

// background(-bg) and border(-b) colors:

$white-bg: #ffffff;
$light-gray-bg1: #fafafa;
$light-gray-bg2-b: #f2f2f2;
$light-gray-bg3-b: #e8e8e8;
$light-gray-bg4-b: #e0e0e0;
$light-gray-bg5-b: #d1d1d1;

// colors

$yellow-bright: #fcb400;
$yellow: #e08d00;
$yellow-dark: #b87503;
$yellow-light1: #ffd66e;
$yellow-light2: #ffeab6;

$blue-bright: #2d7ff9;
$blue: #1283da;
$blue-dark: #2750ae;
$blue-light1: #9cc7ff;
$blue-light2: #cfdfff;

$green-bright: #20c933;
$green: #11af22;
$green-dark: #338a17;
$green-light1: #93e088;
$green-light2: #d1f7c4;

$purple-bright: #8b46ff;
$purple: #7c39ed;
$purple-dark: #6b1cb0;
$purple-light1: #cdb0ff;
$purple-light2: #ede3fe;
