@import "./colors.scss";

$base-font-size: 13px;
$base-line-height: 16px;

@mixin large-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
@mixin default-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
@mixin small-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SF-Pro.ttf") format("truetype"),
    url("../fonts/SF-Pro.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro.ttf") format("truetype"),
    url("../fonts/SF-Pro.ttf") format("truetype");
}

// Global styles for typography
body {
  font-family: "SF Pro Text", sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: normal;
}

h1 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 27px !important;
  line-height: 34px;
  font-weight: 500;
}

h2 {
  font-family: "SF Pro Display", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 1rem;
}

h3 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.large-text {
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
}

.default-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.small-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}
