@import "../../styles/colors";

.container {
  max-width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header--main {
  color: $energy-orange;
}

.navbar {
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px 10px 20px;
  background-color: $dark-shade-blue;
}
