@import "../../styles/colors";
.navbar {
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 20px 0 20px;
  background-color: $dark-shade-blue;

  @media screen and (max-width: 800px) {
    padding: 1rem 0 1rem;
  }

  @media screen and (max-width: 400px) {
    padding: 0.8rem 0 0.8rem;
  }
}

.navbar__container {
  max-width: 85%;
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 auto;

  @media screen and (max-width: 800px) {
    max-width: 90%;
  }
}
.navbar__logo {
  padding: 0;
  color: $energy-orange;

  @media screen and (max-width: 800px) {
    font-size: 21px;
    line-height: 26px;
  }

  @media screen and (max-width: 400px) {
    font-size: 18px;
  }
}
