.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  @media screen and (max-width: 1440px) {
  margin: 0;
}

.map {
  max-height: 80vh;
  max-width: 1440px;
  width: 90%;
  background-size: contain;
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
}

.map-title {
  margin: 20px 0;
}

.map-short-description {
  width: 90%;
  max-width: 760px;
}


